.button button {
  position: relative;
  border-radius: var(--middle-radius);
  border: 1px solid var(--accents_1);
  background: transparent;
  color: var(--accents_1);
  padding: 15px 38px;
  cursor: pointer;
  font-size: var(--base-text-size);
  font-family: "Lato", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
}

.button button svg {
  margin-right: 10px;
}

.button button:active {
  top: 1px;
}

.button_fill button {
  border: none;
  background: var(--primary);
  color: var(--white);
  font-size: calc(var(--base-text-size) + 1px);
  padding: 15px 20px;
  box-shadow: 0px 4px 12px rgba(53, 96, 217, 0.5);
}
