.calculator__dropdown-wrapper {
  width: 100%;
  position: relative;
  user-select: none;
}

.calculator__dropdown {
  cursor: pointer;
  padding: 14px 0;
}

.calculator__dropdown__content {
  color: var(--blue-800);
}

.calculator__dropdown__content__label {
  font-weight: 800;
  font-size: 12px;
}

.calculator__dropdown__icon {
  margin: 0 10px 0 15px;
}

.calculator__dropdown__arrow {
  margin-left: auto;
}

.calculator__dropdown__children {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  background: var(--white);
  padding: 30px;
  border-radius: var(--middle-radius);
  box-shadow: 0px 4px 4px rgba(135, 146, 161, 0.08),
    0px 14px 25px rgba(135, 146, 161, 0.06);
}
