.card {
  margin-right: 35px;
  width: 282px;
}
.card__title h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #1E3476;
  font-weight: 200;
  margin: 16px 12px;
}
.card__price h1 {
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--primary);
  margin: 12px 0;
}
.card__price p {
  font-size: 16px;
  line-height: 19px;
  color: var(--primary);
  margin: 0;
}