.calculator__navigation a {
  color: var(--blue-700);
  font-size: calc(var(--base-text-size) + 1px);
  display: block;
  text-decoration: none;
}

.calculator__navigation a:not(:first-of-type) {
  margin-top: 12px;
}

.calculator__navigation__title {
  color: var(--blue-500);
  font-size: calc(var(--base-text-size) + 2px);
  font-weight: 600;
  margin-bottom: 20px;
}

.calculator__navigation__title svg {
  margin-right: 7px;
}

.calculator__navigation .padding {
  padding-left: 30px;
}
