body {
  --primary: #1f55f2;
  --blue-800: #1e3476;
  --blue-400: #92abf9;
  --blue-500: #7e95c5;
  --blue-700: #1f55f2bf;
  --background: white;
  --white: white;
  --accents_1: white;
  --middle-radius: 32px;
  --block-border: #4673f4;
  --base-text-size: 14px;
}

:export {
  light_primary: #1f55f2;
  light_blue_800: #1e3476;
  light_background: white;
  light_accents_1: white;
  light_blue_400: #92abf9;
  light_blue_500: #7e95c5;
  light_white: white;
}
