.calculator {
  border-radius: 40px;
  background: var(--white);
}

.calculator__spacer {
  width: 1px;
  background: var(--blue-400);
  margin: 0 20px;
}

.calculator__button {
  padding: 4px;
  margin-left: 10px;
}

.calculator__description {
  display: flex;
  align-items: center;
  color: var(--blue-400);
  margin-top: 10px;
  margin-left: 15px;
}

.calculator__description svg {
  margin-right: 10px;
}
