.adviceCard {
    position: relative;
    margin-right: 35px;
}
.adviceCard__title h3 {
    position: absolute;
    bottom: 0;
    width: 280px;
    color: var(--white);
    margin-left: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200;
}