.card {
    position: relative;
}
.card__title h3 {
    top: 0;
    left: 0;
    position: absolute;
    width: 280px;
    margin-left: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200;
}