/* Common */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.margin-top-30 {
  margin-top: 30px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* Header */
header,
header .container {
  background: var(--primary);
}

.header {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  color: var(--accents_1);
}

.header__side {
  display: flex;
  align-items: center;
}

.header__side__link {
  display: flex;
  margin: auto 0;
  margin-left: 70px;
}

.header__side__link svg {
  margin-right: 15px;
}

.header__side__link a {
  color: var(--accents_1);
  text-decoration: none;
  border-bottom: 1px solid var(--accents_1);
  font-size: calc(var(--base-text-size) + 2px);
  font-weight: 300;
}

.header__side .button {
  margin-left: 30px;
}

/* Section one */
.section-one {
  padding: 100px 0 140px;
  background: var(--primary);
  border-top: 1px solid var(--block-border);
}

.section-one__title {
  color: var(--accents_1);
  text-align: center;
}

.section-one__title h1,
.section-one__title h2 {
  text-transform: uppercase;
  margin: 0;
}

.section-one__title h1 {
  font-size: 48px;
  font-weight: 800;
}

.section-one__title h2 {
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}

.calculator {
  margin-top: 40px;
}

/* Section two */
.section-two {
  padding: 100px 0 100px;
  background: var(--white);
  border-top: 1px solid var(--block-border);
  overflow: hidden;
}
.section-two__title {
  color: var(--primary);
  text-align: left;
}
.section-two__title h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}
.section-two__cards{
  display: flex;
}

/* Section three */
.section-three {
  padding: 100px 0 100px;
  background: var(--white);
  overflow: hidden;
  color: var(--white);
}
.section-three__title {
  color: var(--primary);
  text-align: left;
}
.section-three__title h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}
.section-three__cards {
  display: flex;
  overflow: hidden ;
}

/* Section four */
.section-four {
  padding: 100px 0 100px;
  background: linear-gradient(0deg, rgba(31, 85, 242, 0.07), rgba(31, 85, 242, 0.07));
  overflow: hidden;
}
.section-four__cards {
  display: flex;
}
.section-four__title {
  color: var(--primary);
  text-align: left;
}
.section-four__title h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}

/* Section six */
.section-six {
  padding: 100px 0 100px;
  background: var(--white);
  overflow: hidden;
}
.section-six__cards{
  display: flex;
}
.section-six__title{
  color: var(--primary);
  text-align: left;
}
.section-six__title h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}

/* Section seven */
.section-seven {
  padding: 100px 0 100px;
  background: linear-gradient(0deg, rgba(31, 85, 242, 0.05), rgba(31, 85, 242, 0.05));
  overflow: hidden;
  color: var(--primary);
}
.section-seven__cards{
  display: flex;
}
.section-seven__title{
  text-align: left;
}
.section-seven__cards h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}

/* Section eight */
.section-eight {
  overflow: hidden;
  color: var(--primary);
  padding: 100px 0 100px;
}
.section-eight__title{
  margin: auto;
  color: var(--primary);
  text-align: left;
}
.section-eight__title h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 32px;
  margin-top: 15px;
}
.section-seven__review {
  display: flex;
}

/* Section nine */
.section-nine {
  background: #E2EAFF;
  overflow: hidden;
  color: var(--primary);
  padding: 100px 0 100px;
}

/* Text Filter */
.text-filter {
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 200;
  margin-top: 20px;
}

.text-filter span {
  font-weight: bold;
  border-bottom: 1px solid var(--white);
  cursor: default;
}
